*{
    /* outline: red solid 1px; */
    padding:0;
    margin: 0;
}


body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(84, 82, 82);
}


img {
    height: 340px;
    width: auto;
    padding: 0;

}

.lena{
    width: 500px;
    height: auto;
}

.buttom{
display: flex;
/*flex-direction: column;
 align-items: center; */
padding-bottom: 30px;
}

.leena{
    display: flex;
    flex-direction: column;
    padding:30px 40px;
    }

    .but{
        font-size: 120px;
        text-align: center;
        color:rgb(135, 5, 16);
        background-color: black;
    }
    .better {
        font-size: 45px;
        margin-top: 30px;
        padding:10px;
        background-color: rgb(42, 40, 40);
        color:brown;
    }

button{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 28px;
    margin: 30px;
    border: black solid 5px;
    border-radius: 10px;
    background-color: rgb(54, 52, 52);
    color:aliceblue;
}

button:hover{
    background-color: rgb(3, 3, 3);
    color:rgb(135, 5, 16);
}

.ask{
    border: red solid 3px;
    padding:10px 20px;
    border-radius: 10px;
    background-color: white;
    font-size: 34px;
    align-self: flex-start;
    padding: 20px;
    margin: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding-top: 30px;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: rgb(26, 12, 39);
    color:rgb(210, 162, 244);
    border:rgb(35, 34, 35) solid 5px;
    border-radius: 16px;
}

.text2{
    font-size: 28px;;
    padding: 20px 10px;
    background-color: rgb(142, 137, 137);
    text-align: center;
}
.interaction{
    display: flex;
}