*{
    /* outline: red solid 1px; */
    padding:0;
    margin: 0;
}


body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(84, 82, 82);
}


img {
    height: 340px;
    width: auto;
    padding: 0;

}

.lena{
    width: 600px;
    height: auto;
    float: inline-start;
}

.buttom{
display: flex;
/*flex-direction: column;
 align-items: center; */
padding-bottom: 30px;
}

.leena{
    display: flex;
    flex-direction: column;
    padding:30px 40px;
    }

    .but{
        font-size: 120px;
        text-align: center;
        color:rgb(135, 5, 16);
        background-color: black;
    }
    .better {
        font-size: 38px;
        margin-top: 30px;
        padding:10px 30px;
        background-color: rgb(42, 40, 40);
        color:brown;
        text-align: center;
        width:320px;
    }

button{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 28px;
    margin: 30px;
    border: rgb(58, 1, 1) solid 1px;
    border-radius: 10px;
    background-color:#fc3d39;
    color:aliceblue;
}

button:hover{
    background-color: rgb(3, 3, 3);
    color:rgb(135, 5, 16);
}

.ask{
    border: red solid 3px;
    padding:10px 20px;
    border-radius: 10px;
    background-color: white;
    font-size: 34px;
    align-self: flex-start;
    padding: 20px;
    margin: 20px;
    width: 600px;
    text-align: center;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.text {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding-top: 30px;

}

h1 {
    text-align: center;
    padding-bottom: 0;
    background-color: rgb(26, 12, 39);
    color:rgb(210, 162, 244);
    border:rgb(35, 34, 35) solid 5px;
    border-radius: 16px;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.text2{
    font-size: 29px;;
    padding: 10px;
    background-color: rgb(142, 137, 137);
    text-align: center;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.interaction{
    display: flex;
}